<footer>
    Todos os direitos<br> reservados   
    <a style="text-decoration: none; color: black;" href="https://www.linkedin.com/in/enrique-azevedo-molina-306573140/" target="blank"> @EnriqueMolina</a>
</footer>