<header>
   <img id="logo" src="/img/logo-pokemon.png" alt="Logo-Pokemon">
    
    
    <nav>
        <ul>
           <a class="menu" href="/"> <li>Pokedex</li> </a>
           <a class="menu" href="/cadastro"> <li>Cadastro</li> </a>
        </ul>
    </nav>
    
</header>