@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: Roboto, Arial;
}
header{
    padding: 3rem;
    background-color: red;
}
header h1{
    color: #fff;
    font-size: 3rem;
    text-align: center;
}
header div.links a{
    color: #fff;
    text-align: center;
    text-decoration: none;
}
main{
    margin: 0 10rem 0 10rem;
}
section#cards{
    display: flex;  
    margin-top: 5rem;   
    justify-content: space-evenly;
    
    
}
section#cards div.card{
    width: 20rem;
    box-shadow: 5px 5px 5px 5px #00000020;
    margin-left: 2rem;
    padding: 1rem;
}

section#cards div.card img{
    width: 100%;
}

section#cards div.card div.numero_do_pokemon{
    text-align: center;
    margin-bottom: 1rem;
}
section#cards div.card h2.nome_do_pokemon{
    
    text-align: center;
    margin-bottom: 1rem;
}
section#cards div.card div.tipo_pokemon{
    text-align: center;
    margin-bottom: 1rem;
}
section#cards div.card div.descricao_pokemon{
    text-align: center;
    margin-bottom: 1rem;
}
section#cards div.card div.altura_pokemon{
    text-align: center;
    margin-bottom: 1rem;
}
section#cards div.card div.peso_pokemon{
    text-align: center;
    margin-bottom: 1rem;
}
section#cards div.card div.categoria_pokemon{
    text-align: center;
    margin-bottom: 1rem;
}
section#cards div.card div.habilidade_pokemon{
    text-align: center;
    margin-bottom: 1rem;
}
section#formulario{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5rem;
}
section#formulario h2{
    width: 100%;
    text-align: center;
    padding-bottom: 2rem;
    font-size: 3rem;
    color: rgb(196,0,0);
    
}
section#formulario form input{
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: solid 2px rgb(196, 0, 0);
    margin: 1rem;
}
section#formulario form label{
    margin: 0.5rem;
    color: rgb(0, 0, 0);
}
section#formulario form button{
    justify-content: center;
    padding: 1rem;
    width: 30%;
    display: flex;
    margin: 0 auto;
    font-size: 2rem;
    color: rgb(196, 0, 0);
    background-color: #fff;
    border-color:rgb(196, 0, 0) ;
    cursor: pointer;
}
section#formulario form button:hover{
    border-color:rgb(196, 0, 0) ;
    background-color: rgb(196, 0, 0);
    color: #fff ;
}